* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  font-family: "Lato", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  font-size: 14px;
  background-color: #fff;
  background-image: url("images/stripes-light.png");
  background-repeat: repeat;
}

.container {
  width: 700px;
  background-color: #efefef;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding: 15px;
  color: #fff;
  background-color: #ff383f;
}

header > h1 {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}

.content {
  padding: 15px;
  color: #a9a9a9;
  background-color: #efefef;
}

.panel {
  /* color: #fff; */
  max-height: 500px;
  padding: 0px;
  /* background-color: #efefef; */
  display: none;
  overflow-y: scroll;
}

.accordion {
  background-color:#caebf2;
  color: #a9a9a9;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  margin: 0px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion:after {
  content: "\25b7"; 
  font-weight: bold;
  font-size: 20px;
  color: #a9a9a9; 
  float: right;
  margin-left: 5px;
}

.accordion.active, .accordion:hover {
  background-color: #ff383f;
  color: #eee;
}

.accordion.active:after {
  content: "\25bd";
  font-weight: bold;
  color: #eee;
}