<!doctype html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    {% if project.name %}
    <title>Crispy - {{ project.name }}</title>
    {% else %}
    <title>Crispy</title>
    {% endif %}
  </head>

  <body> 
    <div class="container">
      <header>
        <h1>Crispy</h1>
      </header>

      <div class="main">
        
        {% for cell in cells recursive %}
        <div class="cell">
          <div class="accordion-header">
            <button class="accordion">{{ cell.name }}</button>
          <div class="progress-bar" style="width:{{ (100 * cell.progress) | int }}%;"></div>
          </div>
          <div class="panel">
            <p class="content">{{ cell.description }}</p>      
            {% if cell.subtasks %}
              {{ loop(cell.subtasks) }}
            {% endif %}
          </div>
        </div>
        {% endfor %}

      </div>
    
    </div>

    <script src="{{ url_for('static', filename='accordion.js') }}"></script>

  </body>

</html>